<nav class="navbar navbar-inverse" data-ng-controller="Topnav as vm">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="dashboard">
        {{vm.title}}
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li data-ng-if="global.currentSession.authenticated">
          <button class="btn btn-default btn-sm username-button" ui-sref="app.dashboard">Home</button>
          <!--<a ui-sref="app.dashboard" class="navbar-link">Home</a>-->
        </li>
        <li data-ng-if="global.currentSession.authenticated">
          <button data-ng-click="vm.logout()" class="btn btn-default btn-sm">Logout</button>
          <!--<a data-ng-click="vm.logout()" class="navbar-link">Logout</a>-->
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>