<div data-ng-if="global.currentSession.isAuthenticated" >
	<div class="page-header">
		<h1>My Schedule</h1>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Week at a Glance</h3>
		</div>
		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Time</th>
						<th>Monday</th>
						<th>Tuesday</th>
						<th>Wednesday</th>
						<th>Thursday</th>
						<th>Friday</th>
					</tr>
				</thead>
				<tbody >
					<tr data-ng-if="vm.schedule.numCourses > 0" data-ng-repeat="course in vm.schedule.courseList | orderBy:'startTime'">
						<td><strong>{{course.startTime}}</strong></td>
						<td><div class="text-uppercase" data-ng-if="course.day == 'MWF'">{{course.name}}</div></td>
						<td><div class="text-uppercase" data-ng-if="course.day == 'TR'">{{course.name}}</div></td>
						<td><div class="text-uppercase" data-ng-if="course.day == 'MWF'">{{course.name}}</div></td>
						<td><div class="text-uppercase" data-ng-if="course.day == 'TR'">{{course.name}}</div></td>
						<td><div class="text-uppercase" data-ng-if="course.day == 'MWF'">{{course.name}}</div></td>
					</tr>
				</tbody>
			</table>
			<div class="jumbotron" data-ng-if="vm.schedule.numCourses == 0">
				<h3 class="text-center">Hmm...</h3>
				<p class="text-center">Looks like you've got an empty schedule, Lazy.</p>
			</div>			
		</div>
	</div>

	<button class="btn btn-default back-button" ui-sref="app.dashboard">Go Back</button>
</div>


