<div data-ng-if="global.currentSession.isAuthenticated" >
	<div class="page-header">
		<h1>Registration Details</h1>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>My Account</h3>
		</div>
		<div class="panel-body">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label text-left">Account Type</label>
					<div class="col-sm-10">
						<p class="form-control-static">{{global.currentSession.currentAccount.permission}}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label text-left">My Name</label>
					<div class="col-sm-10">
						<p class="form-control-static">{{global.currentSession.currentAccount.name}}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label text-left">My Username</label>
					<div class="col-sm-10">
						<p class="form-control-static">{{global.currentSession.currentAccount.username}}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label text-left">Registration Status</label>
					<div class="col-sm-10">
						<p class="form-control-static">{{global.currentSession.currentAccount.registrationStatus}}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label text-left">Account Standing</label>
					<div class="col-sm-10">
						<p data-ng-if="global.currentSession.currentAccount.holds == 'true'" class="form-control-static">
							<span class="label label-danger">Bad</span>
						</p>
						<p data-ng-if="global.currentSession.currentAccount.holds == 'false'" class="form-control-static">
							<span class="label label-success">Good</span>
						</p>
					</div>
				</div>
			</form>
		</div>
	</div>
	<button class="btn btn-default back-button" ui-sref="app.dashboard">Go Back</button>
</div>








