<div data-ng-if="global.currentSession.isAuthenticated" >
	<div class="page-header">
		<h1>Drop Courses</h1>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Registered Courses<button data-ng-click="vm.refresh()" class="btn btn-default back-button pull-right">Refresh</button></h3>
		</div>
		<table class="table table-striped no-margin-bottom">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Instructor</th>
					<th>Drop</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="course in vm.registeredCourses">
					<td>{{course.id}}</td>
					<td class="text-uppercase">{{course.name}}</td>
					<td>{{course.instructor}}</td>
					<td>
						<button data-ng-click="vm.dropCourse(global.currentSession.currentAccount.username, course.id, course.name)" class="btn btn-danger">Drop</button>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="jumbotron no-margin-bottom" data-ng-if="vm.numCourses == 0">
			<h3 class="text-center">Dude, come on...</h3>
			<p class="text-center">You already dropped all of your courses. How lazy are you?</p>
		</div>	
	</div>
	<button class="btn btn-default back-button" ui-sref="app.dashboard">Go Back</button>
</div>


