<div data-ng-if="global.currentSession.isAuthenticated" >
	<div class="page-header">
		<h1>Drop Courses</h1>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Registered Courses<button class="btn btn-default back-button pull-right">Refresh</button></h3>
		</div>
		<div class="panel-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Course</th>
						<th>Day of Week</th>
						<th>Time</th>
						<th>Instructor</th>
						<th>Edit</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="course in vm.registeredCourses">
						<td>{{course.title}}</td>
						<td><span data-ng-repeat="day in course.days track by $index">{{day}}</span></td>
						<td><span data-ng-repeat="time in course.time track by $index">{{time}}</span></td>
						<td>{{course.instructor}}</td>
						<td><button data-ng-click="vm.dropCourse(course.id)" class="btn btn-danger">Drop</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<button class="btn btn-default back-button" ui-sref="app.dashboard">Go Back</button>
</div>


