<div data-ng-if="global.currentSession.authenticated" >
	<div class="page-header">
		<h1>Welcome, {{ global.currentSession.currentAccount.name }}!</h1>
	</div>
	<div data-ng-if="global.permissionTypes.admin == global.currentSession.currentAccount.permission" class="panel panel-default">
		<div class="panel-heading">
			<h3>Administrator Resource Links</h3>
		</div>
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item"><a ui-sref="#">Create Course</a></li>
				<li class="list-group-item"><a ui-sref="#">Create Account</a></li>
				<li class="list-group-item"><a ui-sref="app.courses">Manage Courses</a></li>
				<li class="list-group-item"><a ui-sref="app.accounts">Manage Accounts</a></li>
			</ul>
		</div>
	</div>
	<div data-ng-if="global.permissionTypes.instructor == global.currentSession.currentAccount.permission" class="panel panel-default">
		<div class="panel-heading" >
			<h3>Instructor Resource Links</h3>
		</div>
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item"><a ui-sref="app.schedule">View Schedule</a></li>
			</ul>
		</div>
	</div>
	<div data-ng-if="global.permissionTypes.student == global.currentSession.currentAccount.permission" class="panel panel-default">
		<div class="panel-heading">
			<h3>Student Resource Links</h3>
		</div>
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item"><a ui-sref="app.registration">Registration Details</a></li>
				<li class="list-group-item"><a ui-sref="app.schedule">My Schedule</a></li>
				<li class="list-group-item"><a ui-sref="app.courses">Add Courses</a></li>
				<li class="list-group-item"><a ui-sref="app.registered">Drop Courses</a></li>
			</ul>
		</div>
	</div>
</div>


