<div data-ng-if="global.currentSession.authenticated" >
	<div class="page-header">
		<h1>Welcome, {{ global.currentSession.currentAccount.name }}!</h1>
	</div>
	<div data-ng-if="global.permissionTypes.admin == global.currentSession.currentAccount.permission">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Administrator Resources</h3>
			</div>
			<!--<div class="panel-body row">
				<div class="col-sm-6 text-center">
					<button class="btn btn-primary" data-ng-click="vm.createCourseForm()">Create Course</button>
				</div>
				<div class="col-sm-6 text-center">
					<button class="btn btn-primary" data-ng-click="vm.createCourseForm()">Create Course</button>
				</div>
			</div>-->
			<ul class="list-group">
				<li class="list-group-item"><a data-ng-click="vm.createCourseForm()" role="button" class="btn btn-primary btn-xs">Create Course</a></li>
				<li class="list-group-item"><a data-ng-click="vm.createAccountForm()" role="button" class="btn btn-primary btn-xs">Create Account</a></li>
				<li class="list-group-item"><a ui-sref="app.courses">Manage Courses</a></li>
				<li class="list-group-item"><a ui-sref="app.accounts">Manage Accounts</a></li>
			</ul>
		</div>
	</div>
	<div data-ng-if="global.permissionTypes.instructor == global.currentSession.currentAccount.permission" class="panel panel-default">
		<div class="panel-heading" >
			<h3>Instructor Resource Links</h3>
		</div>
		<ul class="list-group">
			<li class="list-group-item"><a ui-sref="app.schedule">View Schedule</a></li>
			<li class="list-group-item"><a ui-sref="app.assigned">View Course Assignments</a></li>
		</ul>
	</div>
	<div data-ng-if="global.permissionTypes.student == global.currentSession.currentAccount.permission" class="panel panel-default">
		<div class="panel-heading">
			<h3>Student Resource Links</h3>
		</div>
		<ul class="list-group">
			<li class="list-group-item"><a ui-sref="app.registration">Registration Details</a></li>
			<li class="list-group-item"><a ui-sref="app.schedule">My Schedule</a></li>
			<li class="list-group-item"><a data-ng-click="vm.goToCourseCatalog()" role="button">Add Courses</a></li>
			<li class="list-group-item"><a ui-sref="app.registered">Drop Courses</a></li>
		</ul>
	</div>
</div>


